body{
    background-color:#1F0D0A;
}
h1{
    color: white;
    font-family: Verdana;
    font-size: 250%;
    text-align: center;
}
h3{
    color: navajowhite;
    font-family: cursive;
    text-align: center;
}
p{
    color: snow;
    font-family: geneva;
    font-size: 200%;
}
td{
    color: red;
    font-family: 'Times New Roman';

}
th{
    color: papayawhip;
    font-family: monospace;
    font-size: 200%; 
}
ol{
    color: whitesmoke;
    font-size: 200%;
}