body{
 
 background-image: url("../img/fondo2.jpg");
}
#portada{
    border: ridge;
    border-width:6px;
    border-color:aqua;
  
}
#cuerpo{
    border-style: solid;
    border-color:#00ffff;
    border-width: 5px;
    
}
#redes{
    margin:30px; 
    width: 900px;
    height: 100px;
    border: solid;
    border-color: aqua;
    border-width:4px;
    background-color:skyblue;
    padding: 10px;
   
}
h1{
    color: white;
    font-family: Verdana;
    font-size: 250%;
    text-align: center;
}
h3{
    color: navajowhite;
    font-family: cursive;
    text-align: center;
}
p{
    color: snow;
    font-family: geneva;
    font-size: 200%;
}

td{
    border: double;
    border-color:aqua;
    font-family: 'Times New Roman';
    color: #CEF6F5;
    font-size: 16px;

}
th{
    border: double;
    border-color:aqua;
    border-width: 8px;
    font-family: monospace;
    font-size: 20px;
    color: #CEF6F5; 
}
ol{
    color: whitesmoke;
    font-size: 200%;
}
hr{
    width: 60px;
    height: 20px;
    background: green;
}
#parraRedes{
    margin: 5px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    color:blue;
}